*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}
#menu{
    display: block;
    box-sizing: border-box;
    background-color: #363636;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 100px;
}
body{
    background-color: #424242;
}
nav {
    position: absolute;
    margin-top: -30px;
    margin-left: 360px;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;    
}
nav a {
    text-transform: uppercase;
    color: #1579c2;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
li a:hover{
    color: #fff;
    transition: .5s;
}
#menu2{
    position: absolute;
    margin-top: -30px;
    margin-left: 1030px;
}
#menu2 li {
    display: inline;
    margin: 0 0 0 15px;    
}
#menu2 a {
    text-transform: uppercase;
    color: #1579c2;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
#menu2 a:hover{
    color: #fff;
    transition: .5s;
}
#fi{
    margin-top: 300px;
    margin-left: 150px;
}
#ap{
    margin-top: 300px;
    margin-left: 150px;
    margin-bottom: 150px;
}

#h1{
    color: #fff;
    cursor: default ;
}